<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>v-model</title>
</head>
<body>
  <div id="app">
    <input type="text" :value="msg" @input ='change($event)'>
    <input type="text" v-model="msg">
    {{msg}}
    <br>
    <!-- 复选框 -->
    <input type="checkbox" v-model="check">
    {{check}} 
    <input type="checkbox" v-model="checks" value="游泳">游泳
    <input type="checkbox" v-model="checks" value="健身">健身
    <input type="checkbox" v-model="checks" value="运动">运动
    {{checks}}

    <br>
    <!-- 单选框 -->
    男: <input type="radio" v-model="gender" value="男">
    女: <input type="radio" v-model="gender" value="女">
    <br>

    <!-- 下拉菜单 -->
    <select v-model="selectVal" multiple>
      <option v-for="item in options" :key="item.id">{{item.title}}</option>
    </select>
    {{selectVal}}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let vm = new Vue({
      el: '#app',
      data(){
        return {
          msg: 'wzj',
          check: true,
          checks: [],
          gender:'男',
          selectVal: [],
          options:[
            {title: '数学'},
            {title: '语文'},
            {title: '英语'},
          ]
        }
      },
      methods:{
        change(e){
          this.msg = e.target.value
        }
      }
    })
  </script>
</body>
</html>